*{
    margin: 0;
    padding: 0;
    }
     
    body{
    background: #ff4700;
    text-align: center;
    }
     
    section{
    margin: 100px auto;
    }
     
    section img{
    border-radius: 100%;
    border: 10px solid #fff;
    }